/* RESET
   http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */
/*----------------------------------------------------------------------------*/
/* BASIC LAYOUT */

body {
  margin: 0;
  font-family: 'Francois One', sans-serif;
  font-family: 'Karla', sans-serif;
  --bloo: #8fb5bf;
  --gray: #444444;
  --yello: #f4d076;
}

p {
  line-height: 1.1;
  text-align: justify;
  font-family: "Karla";
  color: var(--gray);
  font-size: 10px;
}

::selection {
  background: var(--yello);
}

#cover {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  opacity: 0.6;
  z-index: 100;
}

#layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

/* END BASIC LAYOUT */
/*----------------------------------------------------------------------------*/
/* SIDEBAR */

#sidebar {
  animation: slide 1.5s ease-in-out 0s 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

@keyframes slide {
  from { left: -300px; opacity: 0; }
  to { left: 0px; opacity: 1 }
}

#hua {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 80px;
  width: 125px;
}

#name1 {
  position: absolute;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Francois One";
  color: white;
  font-size: 50px;
}

#name2 {
  animation: glow 100s reverse;
  position: absolute;
  margin: 0 auto;
  margin-top: 27px;
  margin-left: -3px;
  font-family: "Francois One";
  color: transparent;
  font-size: 50px;
  -webkit-text-stroke: 1px var(--yello);
  transition: 0.5s;
}

#name2:hover {
  -webkit-text-stroke: 1px var(--gray);
}

#banner {
  width: 0px;
  height: 0px;
  border-top: 110px solid var(--bloo);
  border-right: 250px solid var(--bloo);
  border-bottom: 20px solid transparent;
}

#windowsill {
  position: relative;
  width: 250px;
  height: 190px;
}

.item {
  position: absolute;
}

#window {
  box-sizing: border-box;
  width: 250px;
  padding: 10px 30px 0px 30px;
}

#sun {
  width: 180px;
  top: 30px;
  left: 50px;
}

#avo {
  width: 45px;
  top: 70px;
  left: 45px;
  z-index: 10;
}

#tum {
  width: 50px;
  top: 94px;
  left: 82px;
  z-index: 10;
}

#pothos {
  width: 90px;
  top: 0px;
  left: 135px;
  z-index: 10;
}

#boxtop1 {
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-right: 220px solid var(--bloo);
  border-bottom: 1.5px solid var(--bloo);
}

#boxtop2 {
  position: relative;
  bottom: 38px;
  left: 1.5px;
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-right: 217px solid white;
  border-bottom: 1.5px solid white
}

#box {
  box-sizing: border-box;
  width: 220px;
  height: auto;
  padding: 25px;
  border-style: solid;
  border-width: 0px 1.5px 1.5px 1.5px;
  border-color: var(--bloo);'
}

#hey {
  background-color: var(--yello);
  font-family: "Francois One";
  font-size: 13px;
  width: 70px;
  transition: 0.5s;
  line-height: 0px;
  padding-bottom: 7px;
}

#hey:hover {
  width: 167px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height: 10px;
}

.link {
  margin: 5px 8px 0px 8px;
  text-decoration: none;
  font-family: "Francois One";
  color: var(--gray);
  font-size: 11px;
  line-height: 0px;
  transition: 0.5s;
}

.link:hover {
  background-color: var(--yello);
  padding-bottom: 7px;
  cursor: pointer;
}

#b-myroom {
  color: var(--bloo);
}

/* END SIDEBAR */
/*----------------------------------------------------------------------------*/
/* PAGE LAYOUT */

h2 {
  font-family: "Francois One";
  color: var(--gray);
  font-size: 25px;
}

.page {
  display: none;
  animation: visible 2s 1;
  height: 83vh;
  padding: 30px 36.5px 30px 30px;
  border-style: solid;
  border-right-width: 2px;
  border-color: var(--bloo);
  overflow-y: scroll;
}

@keyframes visible {
  from { opacity: 0; }
  to { opacity: 1; }
}

.page::-webkit-scrollbar {
  width: 5px;
}

.page::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.page::-webkit-scrollbar-thumb {
  background: var(--bloo);
}

.highlight {
  width: 50px;
  background-color: var(--yello);
  white-space: nowrap;
  line-height: 0px;
  transition: 0.5s ease-in;
  margin-top: 5px;
}

.small:hover {
  width: 167px;
}

.medium:hover {
  width: 190px;
}

.large {
  width: 100px;
  transition: 1s ease-in;
}

.large:hover {
  width: 440px;
}

h5 {
  display: inline-block;
  font-family: "Francois One";
  color: var(--gray);
  font-size: 13px;
  background-color: var(--yello);
  line-height: 0px;
  padding-right: 14px;
  padding-bottom: 7px;
}

/* END PAGE LAYOUT */
/*----------------------------------------------------------------------------*/
/* MY ROOM */

#myroom {
  display: block;
  width: 440px;
  padding: 30px;
  border-right-width: 1.5px;
  overflow-y: visible;
  overflow-x: visible;
}

#wall {
  position: relative;
}

#room {
  width: 440px;
  margin-top: 10px;
}

#bottle {
  width: 65px;
  top: 260px;
  left: -20px;
  z-index: 20;
  animation: visible 1s 1;
}

#taekwondo {
  width: 15px;
  height: 40px;
  top: 200px;
  left: 25px;
}

#polaroids {
  width: 270px;
  height: 40px;
  top: 75px;
  left: 50px;
}

#ethical {
  width: 50px;
  height: 80px;
  top: 130px;
  left: 50px;
}

#record {
  width: 50px;
  height: 40px;
  top: 230px;
  left: 55px;
}

#skunk {
  width: 50px;
  height: 20px;
  top: 120px;
  left: 145px;
}

#comic {
  width: 50px;
  height: 20px;
  top: 150px;
  left: 115px;
}

#pic {
  width: 45px;
  height: 55px;
  top: 185px;
  left: 115px;
}

#cal {
  width: 35px;
  height: 25px;
  top: 250px;
  left: 120px;
}

#epi {
  width: 25px;
  height: 45px;
  top: 155px;
  left: 170px;
}

#map {
  width: 55px;
  height: 75px;
  top: 135px;
  left: 205px;
}

#jam {
  width: 60px;
  height: 90px;
  top: 240px;
  left: 180px;
}

#jam:hover {
  cursor: pointer;
}

#lappy {
  width: 75px;
  height: 40px;
  top: 330px;
  left: 160px;
}

#backpack {
  width: 65px;
  height: 80px;
  top: 305px;
  left: 250px;
}

#mangosteen {
  width: 35px;
  height: 20px;
  top: 365px;
  left: 295px;
}

#backpack:hover {
  cursor: pointer;
}

#directions {
  float: right;
}

#welcome {
  margin-top: 10px;
  text-align: right;
  font-family: "Francois One";
  font-size: 13px;
  width: 165px;
  background-color: var(--yello);
  transition: 1s ease-in;
  line-height: 0px;
  padding-bottom: 7px;
}

#welcome:hover {
  width: 440px;
}

#blurb {
  text-align: right;
}

/* END MY ROOM */
/*----------------------------------------------------------------------------*/
/* ABOUT */

#about {
  width: 190px;
}

#me {
  width: 190px;
  height: 190px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  margin: 0 auto;
  margin-top: 20px;
}

#descrip {
  margin-top: 20px;
  width: 190px;
  margin-bottom: 20px;
}

#contactbox {
  width: 190px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  margin-top: 5px;
  text-align: center;
  font-family: "Karla";
  color: var(--gray);
  font-size: 10px;
  text-decoration: none;
}

/* END ABOUT*/
/*----------------------------------------------------------------------------*/
/* WORK */

#work {
  width: 440px;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  margin-top: -10px;
}

#projects > * {
    margin-top: 30px;
}

.piece {
  width: 205px;
  height: 205px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  position: relative;
  text-align: center;
}

.piece:hover {
  cursor: pointer;
}

.piece:hover .thumbnail {
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

.piece:hover .overlay {
  opacity: 0.75;
}

.piece:hover h3 {
  opacity: 1;
}

.thumbnail {
  width: 205px;
  height: 205px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 30px;
  transition: 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  width: 145px;
  height: 145px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: var(--bloo);
}

h3 {
  font-family: "Francois One";
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s ease-in-out;
}

/* END WORK */
/*----------------------------------------------------------------------------*/
/* WORK PAGE LAYOUT */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 440px;
  height: 15px;
  margin-bottom: 15px;
}

h4 {
  font-family: "Francois One";
  color: var(--gray);
  font-size: 20px;
  transition: 0.5s;
  margin-top: 10px;
  line-height: 0px;
}

h4:hover {
  background-color: var(--yello);
  padding-bottom: 5px;
  cursor: pointer;
}

.subtitle {
  margin-top: 20px;
}

.text {
  font-size: 10px;
  width: 440px;
}

.opening {
  margin-top: 10px;
}

.line {
  margin-top: 5px;
}

.extlink {
  line-height: 1.1;
  text-align: justify;
  font-family: "Karla";
  color: var(--bloo);
  font-size: 10px;
  text-decoration: none;
  transition: 0.5s;
}

.extlink:hover {
  color: var(--yello) !important;
  cursor: pointer;
}

.gridholder {
  width: 440px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  margin-top: 10px;
}

.photogrid {
  width: 440px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px;
  margin-left: -10px;
}

/* END WORK PAGE LAYOUT */
/*----------------------------------------------------------------------------*/
/* ETHICAL APPAREL */

#ethicalapparel {
  width: 440px;
}

#gh-line {
  height: 580px;
}

#pg-line {
  height: 590px;
}

#pg-line > * {
  width: 185px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#gh-marketing {
  height: 360px;
}

#pg-marketing {
  height: 370px;
}

#pg-marketing > * {
  width: 380px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#gh-custom {
  height: 405px;
}

#pg-custom {
  height: 415px;
}

#pg-custom > * {
  width: 185px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* END ETHICAL APPAREL */
/*----------------------------------------------------------------------------*/
/* WAKE PACK */

#wake {
  width: 440px;
}

#wakepiece {
  width: 440px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  margin: 0 auto;
  margin-top: 10px;
}

/* END WAKE PACK */
/*----------------------------------------------------------------------------*/
/* SPLOTCHES! */

#splotches {
  width: 440px;
}

#demo {
  width: 440px;
  height: 446px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  margin: 0 auto;
  margin-top: 10px;
}

#gh-splotches {
  height: 1040px;
}

#pg-splotches {
  height: 1050px;
}

#pg-splotches > * {
  width: 185px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* END SPLOTCHES! */
/*----------------------------------------------------------------------------*/
/* OLIVEJAM CO. */

#olivejam {
  width: 440px;
}

#gh-olivejam {
  height: 740px;
}

#pg-olivejam {
  height: 750px;
}

#pg-olivejam > * {
  width: 185px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* END OLIVEJAM CO. */
/*----------------------------------------------------------------------------*/
/* PARAGONED */

#paragoned {
  width: 440px;
}

#gh-paragoned {
  height: 1240px;
}

#pg-paragoned {
  height: 1250px;
}

#pg-paragoned > * {
  width: 120px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* END PARAGONED */
/*----------------------------------------------------------------------------*/
/* MISCELLANEOUS */

#misc {
  width: 440px;
}

#gh-misc {
  height: 1235px;
}

#pg-misc {
  height: 1245px;
}

#pg-misc > * {
  width: 185px;
  margin-left: 10px;
  margin-bottom: 10px;
}
