/* BEGIN RESET
   http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-family: 'Francois One', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  --bloo: #8fb5bf;
  --gray: #444444;
  --yello: #f4d076;
}

p {
  line-height: 1.1;
  text-align: justify;
  font-family: "Karla";
  color: var(--gray);
  font-size: 10px;
}

::selection {
  background: var(--yello);
}

#layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

#sidebar {
  animation: slide 1.5s ease-in-out 0s 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

@keyframes slide {
  from { left: -300px; }
  to { left: 0px; }
}

#hua {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 80px;
  width: 125px;
}

#name1 {
  position: absolute;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Francois One";
  color: white;
  font-size: 50px;
}

#name2 {
  position: absolute;
  margin: 0 auto;
  margin-top: 28px;
  margin-left: -2px;
  font-family: "Francois One";
  color: transparent;
  font-size: 50px;
  -webkit-text-stroke: 1px var(--gray);
}

#banner {
  width: 0px;
  height: 0px;
  border-top: 110px solid var(--bloo);
  border-right: 250px solid var(--bloo);
  border-bottom: 20px solid transparent;
}

#windowsill {
  position: relative;
  width: 250px;
  height: 190px;
}

.item {
  position: absolute;
}

#window {
  box-sizing: border-box;
  width: 250px;
  padding: 10px 30px 0px 30px;
}

#sun {
  width: 180px;
  top: 30px;
  left: 50px;
}

#avo {
  width: 45px;
  top: 70px;
  left: 45px;
}

#tum {
  width: 50px;
  top: 95px;
  left: 80px;
}

#pothos {
  width: 90px;
  top: 0px;
  left: 135px;
}

#boxtop1 {
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-right: 220px solid var(--bloo);
  border-bottom: 1.5px solid var(--bloo);
}

#boxtop2 {
  position: relative;
  bottom: 38px;
  left: 1.5px;
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-right: 217px solid white;
  border-bottom: 1.5px solid white
}

#box {
  box-sizing: border-box;
  width: 220px;
  height: auto;
  padding: 25px;
  border-style: solid;
  border-width: 0px 1.5px 1.5px 1.5px;
  border-color: var(--bloo);
}

#bio {
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Karla";
  color: var(--gray);
  font-size: 11px;
}

.link {
  margin: 0px 8px 0px 8px;
}

.link:hover {
  transition-duration: 0.5s;
  color: var(--yello) !important;
  cursor: pointer;
}

#content {
}

.title {
  font-family: "Karla";
  color: var(--gray);
  font-size: 30px;
}

.page {
  display: none;
  height: 83vh;
  padding: 30px 36.5px 30px 30px;
  border-style: solid;
  border-right-width: 2px;
  border-color: var(--bloo);
  overflow-y: scroll;
}

.page::-webkit-scrollbar {
  width: 5px;
}

.page::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.page::-webkit-scrollbar-thumb {
  background: var(--bloo);
}

#home {
  width: 440px;
  padding: 30px;
  border-right-width: 1.5px;
  overflow-y: visible;
}

#wall {
  position: relative;
}

#room {
  width: 440px;
  margin-top: 10px;
}

#taekwondo {
  width: 15px;
  height: 40px;
  top: 200px;
  left: 25px;
}

#polaroids {
  width: 270px;
  height: 40px;
  top: 75px;
  left: 50px;
}

#ethical {
  width: 50px;
  height: 80px;
  top: 130px;
  left: 50px;
}

#record {
  width: 50px;
  height: 40px;
  top: 230px;
  left: 55px;
}

#skunk {
  width: 50px;
  height: 20px;
  top: 120px;
  left: 145px;
}

#comic {
  width: 50px;
  height: 20px;
  top: 150px;
  left: 115px;
}

#pic {
  width: 45px;
  height: 55px;
  top: 185px;
  left: 115px;
}

#cal {
  width: 35px;
  height: 25px;
  top: 250px;
  left: 120px;
}

#epi {
  width: 25px;
  height: 45px;
  top: 155px;
  left: 170px;
}

#map {
  width: 55px;
  height: 75px;
  top: 135px;
  left: 205px;
}

#jam {
  width: 60px;
  height: 90px;
  top: 240px;
  left: 180px;
}

#jam:hover {
  cursor: pointer;
}

#lappy {
  width: 75px;
  height: 40px;
  top: 330px;
  left: 160px;
}

#backpack {
  width: 65px;
  height: 80px;
  top: 305px;
  left: 250px;
}

#mangosteen {
  width: 35px;
  height: 20px;
  top: 365px;
  left: 295px;
}

#backpack:hover {
  cursor: pointer;
}

#blurb {
  text-align: right;
}

#about {
  width: 190px;
}

#me {
  width: 190px;
  height: 190px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  margin: 0 auto;
  margin-top: 20px;
}

#descrip {
  margin-top: 20px;
  width: 190px;
}

#work {
  width: 440px;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  margin-top: -10px;
}

#projects > * {
    margin-top: 30px;
}

.piece {
  width: 205px;
  height: 205px;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--bloo);
  position: relative;
  text-align: center;
}

.piece:hover {
  cursor: pointer;
}

.piece:hover .thumbnail {
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

.piece:hover .overlay {
  opacity: 0.75;
}

.piece:hover .subtitle {
  opacity: 1;
}

.thumbnail {
  width: 205px;
  height: 205px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 30px;
  transition: 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  width: 145px;
  height: 145px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: var(--bloo);
}

.subtitle {
  font-family: "Karla";
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s ease-in-out;
}

.back {
  font-family: "Karla";
  color: var(--gray);
  font-size: 20px;
}

.back:hover {
  transition-duration: 0.5s;
  color: var(--yello) !important;
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#ethicalapparel {
  width: 440px;
}

#wake {
  width: 440px;
}

#splotches {
  width: 440px;
}

#paragoned {
  width: 440px;
}

#misc {
  width: 440px;
}
